@model CRM.IdentityServer.ViewModels.Account.ForgotPasswordConfirmationViewModel
@{
    ViewBag.Title = "Восстановление доступа";
}
<head>
    <title>@ViewBag.Title</title>
</head>

    @section Scripts{
        <script type="text/javascript" src="~/js/ForgotPasswordPage.js"></script>
    }
    
    <head>
        <title>Продолжение регистрации</title>
    </head>
        <button id="SendCodeButton">Отправить код на почту</button>
        <form id="confirmCode" asp-controller="Account" asp-action="ForgotPasswordConfirmation" method="post" hidden="hidden">
            <label>Пароль</label>
            <input type="password" asp-for="Password"/>
            <label>Подтверждение пароля</label>
            <input type="password" asp-for="PasswordConfirm"/>
            <input asp-for="Code" type="text" placeholder="Введите код"/>
            <input asp-for="Email" id="SendCodeEmail" type="hidden" value="@Model.Email" />
            <input type="submit" value="Изменить пароль"/>
            @if(!ViewContext.ModelState.IsValid)
            {
                <input type="hidden" id="hideForm" value="true"/>
            }
        </form>
        @if (ViewContext.ModelState.IsValid == false)
            {
                <div asp-validation-summary="All" class="formErrors">
        
                </div>
            }
