@model CRM.IdentityServer.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {});
    </script>
}

<head>
    <title>@ViewBag.Title</title>
</head>
<div>
    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        <label>Адрес эл. почты:</label>
        <input type="email" asp-for="Email"/>
        <input type="submit" value="Изменить пароль"/>
    </form>
</div>