
@{
    ViewBag.Title = "Сброс пароля";
}

@section Scripts {
}

<head>
    <title>@ViewBag.Title</title>
</head>
<div>
    <h4>Пароль успешно изменен</h4>
    <a asp-controller="Account" asp-action="Login">На страницу авторизации</a>
</div>